[submodule "ssh-tunneling-talk"]
	path = 2018-03-03-ssh-tunneling
	url = https://github.com/kmwenja/ssh-tunneling-talk.git
[submodule "2018-06-02-controlling-ssh-access-using-vault"]
	path = 2018-06-02-controlling-ssh-access-using-vault
	url = https://github.com/jasonrogena/controlling-ssh-access-using-vault.git
[submodule "2019-01-05-literate-programming-in-org-mode"]
	path = 2019-01-05-literate-programming-in-org-mode
	url = https://github.com/BonfaceKilz/literate-programming-in-org-mode-talk
[submodule "2019-03-02-wielding-ssh"]
	path = 2019-03-02-wielding-ssh
	url = https://github.com/kmwenja/wielding-ssh
[submodule "2019-07-06-opensource-for-fun-and-for-profit"]
	path = 2019-07-06-opensource-for-fun-and-for-profit
	url = https://gitlab.com/bkmgit/presentations
[submodule "2019-09-07-pam-talk"]
	path = 2019-09-07-pam-talk
	url = https://github.com/kmwenja/pam-talk
[submodule "2019-05-04-plain-text-accounting"]
	path = 2019-05-04-plain-text-accounting
	url = https://github.com/jnduli/lug-ledger-presentation
[submodule "2020-06-06-functional-packaging-with-guix"]
	path = 2020-06-06-functional-packaging-with-guix
	url = https://github.com/BonfaceKilz/functional-packaging-with-guix
[submodule "2020-11-07-an-sres-guide-to-distributed-consensus"]
	path = 2020-11-07-an-sres-guide-to-distributed-consensus
	url = https://github.com/jasonrogena/an-sres-guide-to-distributed-consensus.git
[submodule "2021-07-03-database-building-blocks"]
	path = 2021-07-03-database-building-blocks
	url = https://github.com/kmwenja/database-building-blocks-talk.git
